body {
    background-color: black;
    color: white;
}

text-color

h1 {
    color: oldlace;
}


.climbs-container {
    float: left;
    width: 40vw;
    margin: 2vw;
    padding: 20px;
}

.sends-container {
    float: right;
    width: 40vw;
    margin: 2vw;
    padding: 20px;
}


.sends-form-container {
    float: left;
    width: 90vw;
    margin: 20px;
    padding: 20px;
    
}