body {
    background-color: rgb(130, 230, 230);
    color: rgb(31, 23, 2);
    font-size: larger;
}

h2 {
    margin: 10px;
}

h1 {
    color: black;
    text-shadow: 1 1 5px rgb(243, 228, 187), 0 0 5px inherit;
}


.climbs-container {
    float: left;
    width: 40vw;
    margin: 2vw;
    padding: 20px;
    min-height: 40vh;
}

.sends-container {
    float: right;
    width: 40vw;
    margin: 2vw;
    padding: 20px;
    min-height: 40vh;
}


.sends-form-container {
    float: left;
    width: 90vw;
    margin: 20px;
    padding: 20px;
    
}

.forms-and-details-container {
    float: left;
    width: 100%;
    margin: auto;
    text-align: center;
}

#show-send-form-button {
    margin: 5px;
}

.send-delete-button {
    background-color: red;
    color: white;
}

label {
    display: block;
}

select {
    width: 100%;
    border: thick;
    padding: 20px;
    border-radius: 20px;
    background-color: #f1f1f1;
    font-size: x-large;
  }

.send-form input {
    text-align: left;
    width: auto;
    height: 24px;
    border: thick;
    border-color: teal;
    margin: 10px;
}

.send-form textarea {
    width: 50%;
    height: 20vh;
}

#current-climb-container, #current-send-container {
    font-size: medium;
    background-color: cornsilk;
    border-color: darkcyan;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

