body {
    background-color: black;
    color: white;
}

text-color

h1 {
    color: oldlace;
}


.climbs-container {
    float: left;
    width: 40vw;
    margin: 2vw;
    padding: 20px;
    min-height: 40vh;
}

.sends-container {
    float: right;
    width: 40vw;
    margin: 2vw;
    padding: 20px;
    min-height: 40vh;
}


.sends-form-container {
    float: left;
    width: 90vw;
    margin: 20px;
    padding: 20px;
    
}

.forms-and-details-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

#show-send-form-button {
    margin: 5px;
}

.send-delete-button {
    background-color: red;
    color: white;
}